@CHARSET "UTF-8";
html, body {
  background: #fafafa;
  color: #1BBBFB;
  font-family: sans-serif;
}

#page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* box */
#toolbar {
  display: block;
  position: fixed;
  width: 100%;
  z-index:10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #1BBBFB;
  padding: 0 20px;
}

/*  top*/
#actions .icon {
  padding: 7px;
  margin:8px;
  vertical-align: middle;
}

/*top  */
#actions .spacer {
  flex: 3;
}

#actions svg {
  display: inline-block;
  pointer-events: none;
  position: relative;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}
#title {
  padding: 11px;
  position: absolute;
  bottom: 0;
  color: #fff;
  /* float:left; */
  margin-top: 10px;
  text-align:center;
}
#title-right{
  padding: 11px;
  bottom: 0;
  float:right;
  margin-top: 10px;
}

a{
	text-decoration:none;
}

/*exam content  */
#content {
  display: block;
  position: relative;
  padding: 50px;
}

.contentCss{
  display: block;
  position: relative;
  border: 1px solid #1BBBFB;
  -webkit-border-radius: 4px;  
  -moz-border-radius: 4px;   
  border-radius: 4px;
  background-color: #fff;
  margin: 16px auto;
  clear:both;
  color:#000000;
}

.answerCss{
	  color:#ff0000;
}

/* 增加试卷里的全选样式 */
.quanxuan{
  padding: 11px;
  bottom: 0;
  float:right;
  margin-top: 10px;
}