@CHARSET "UTF-8";
html,body{
  height:40%;
  background:#C1EBFF;
  font-family: 微软雅黑;
    width: 100%;
    height: 100%;
    background: url(../images/b.jpg) no-repeat;
    background-size: cover;
    background-repeat:inherit;
  
}
body{
  text-align:center;
  
}
body:before{
  content:'';
  height:80%;
  display:inline-block;
  vertical-align:middle;  
}
button{
  background:#3090e7;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  background:rgba(0,0,0,1);
  border-radius:50px;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
