<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
             http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd    
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd  
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
             http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
             http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd  
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<!-- Database Configuration -->
	<import resource="springconfig/databases/DataSource.xml" />
	<import resource="springconfig/databases/HibernateSessionFactory.xml" />

	<!-- Beans -->
	<import resource="springconfig/beans/DAOBeans.xml" />
	<import resource="springconfig/beans/ServiceBeans.xml" />
	<import resource="springconfig/beans/ActionBeans.xml" />
	<import resource="springconfig/beans/PojoBeans.xml" />







	<!-- 自动扫描dao和service包(自动注入) -->
	<!-- <context:component-scan base-package="dao,service" /> -->

	<!-- 配置Spring声明式事务 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 配置事务传播特性 -->
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Exception" />
		</tx:attributes>
	</tx:advice>
	<!-- 配置事务切点，并把切点和事务属性关联起来 -->
	<aop:config proxy-target-class="true">
		<aop:advisor pointcut="execution(* service.*.*(..))"
			advice-ref="transactionAdvice" /> <!-- 配置哪些类的哪些方法参与事务 -->
	</aop:config>



	<!-- 配置Spring声明式事务 -->
	<bean id="judgetransactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="judgeSessionFactory" />
	</bean>
	<!-- 配置事务传播特性 -->
	<tx:advice id="judgetransactionAdvice" transaction-manager="judgetransactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Exception" />
		</tx:attributes>
	</tx:advice>
	<!-- 配置事务切点，并把切点和事务属性关联起来 -->
	<aop:config proxy-target-class="true">
		<aop:advisor pointcut="execution(* service.chj.*.*(..))"
			advice-ref="judgetransactionAdvice" /> <!-- 配置哪些类的哪些方法参与事务 -->
	</aop:config>

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!-- 基于注解的方式使用事务配置声明 -->
	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->
	<!-- <tx:annotation-driven transaction-manager="judgetransactionManager" 
		/> -->

</beans>